@import "tailwindcss";

body {
   font-family: 'Inter', sans-serif;
}

.text-primary {
  color: #000000 !important; 
}

.text-secondary {
  color: #7F7F7F !important; 
}

.text-white {
  color: #FFFFFF !important; 
}

.bg-white {
  background-color: #FFFFFF !important;
}